<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	<div class="modal fade" id="selectedImageModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="selectedImage" *ngIf="selectedImage">
						<img src="{{selectedImage.url}}">
						<div class="arrow-back" (click)=navigate(false)>
							&lt;
						</div>
						<div class="arrow-forward" (click)=navigate(true)>
							&gt;
						</div>
						<div class="caption">
							<p><strong>{{selectedImage.title}}</strong></p>
							<p>{{selectedImage.caption}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ul id="thumbnailsList">
		<li *ngFor="let image of datasource">
			<img src="{{image.url}}" class="tn"
				 width="191" height="146"
				 data-toggle="modal" data-target="#selectedImageModal"
				 (click)=setSelectedImage(image)>
		</li>
	</ul>
</body>
</html>